<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
<head>
{{ partial "header_common.html" . }}

  {{/*
    http://getbootstrap.com/css
    http://bootswatch.com/yeti
    https://github.com/thomaspark/bootswatch/tree/gh-pages/yeti
  */}}
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{.Site.BaseURL}">{{ .Site.Title }}</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{ $weightedpages := .Site.Sections.page }}
            {{ range $weightedpages.Pages.ByDate.Reverse }}
              <li><a href="{{.Permalink}}">{{ .Title }}</a></li>
            {{ end }}
            <li><a href="/post">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
